workflow:
  auto_cancel:
    on_new_commit: interruptible
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_PIPELINE_SOURCE == "push"
    - if: $CI_PIPELINE_SOURCE == "schedule"

stages:
  - build
  - security
  - publish
  - create-release

variables:
  GRADLE_OPTS: -Dorg.gradle.daemon=false

# ------------------------------ Conditions

.if-merge-request-or-main: &if-merge-request-or-main
  - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  - if: $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
  - if: $CI_PIPELINE_SOURCE == "schedule"
    when: never

.if-main: &if-main
  - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  - if: $CI_PIPELINE_SOURCE == "schedule"
    when: never

.if-release: &if-release
  - if: '$CI_COMMIT_TAG =~ /^\d+.\d+.\d+.*/'
  - if: $CI_PIPELINE_SOURCE == "schedule"
    when: never

# ------------------------------ Security

security:
  stage: security
  interruptible: true
  needs: [ ]
  variables:
    TRIVY_CACHE_DIR: ".trivycache/"
  cache:
    paths:
      - .trivycache/
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      allow_failure: true
    - if: '$CI_COMMIT_TAG =~ /^\d+.\d+.\d+.*/'
      allow_failure: false
    - if: $CI_PIPELINE_SOURCE == "schedule"
      allow_failure: false
  artifacts:
    when: always
    reports:
      dependency_scanning: report.json
  before_script:
    - ./gradlew dependenciesForAll --write-locks --no-parallel > dependencies.txt
  script:
    - trivy repo ./ --exit-code 0
    - trivy repo ./ --exit-code 0 --format template --template "@/Volumes/Data/contrib/gitlab.tpl" --output report.json
    - trivy repo ./ --exit-code 1 --severity CRITICAL
  tags:
    - macos

# ------------------------------ Build

build:
  stage: build
  interruptible: true
  rules:
    - *if-merge-request-or-main
  script:
    - ./gradlew clean build
  tags:
    - macos

build-release:
  stage: build
  interruptible: true
  rules:
    - *if-release
  script:
    - ./gradlew clean build
  artifacts:
    expire_in: never
    paths:
      - "jbpl-intellij-plugin/build/distributions/jbpl-intellij-plugin-${CI_COMMIT_TAG}.zip"
      - "jbpl-assembler-cli/build/libs/jbpl-assembler-cli-${CI_COMMIT_TAG}.jar"
      - "jbpl-assembler-cli/build/libs/jbpl-assembler-cli-${CI_COMMIT_TAG}-slim.jar"
  tags:
    - macos

# ------------------------------ Publish

publish-gitlab:
  stage: publish
  rules:
    - *if-main
    - *if-release
  script:
    - ./gradlew publishAllPublicationsToGitLabRepository
  tags:
    - macos

publish-central:
  stage: publish
  rules:
    - *if-main
    - *if-release
  script:
    - ./gradlew publishToSonatype closeAndReleaseStagingRepositories
  tags:
    - macos

publish-documentation:
  stage: publish
  rules:
    - *if-release
  script:
    - ./gradlew -DpublishDocs.root=/var/www/docs publishDocs
  tags:
    - docs

# publish-jb-marketplace:
#   stage: publish
#   rules:
#     - *if-release
#   script:
#     - ./gradlew buildPlugin publishPlugin
#   tags:
#     - macos

# ------------------------------ Create release

create-release:
  stage: create-release
  needs: [ build-release ]
  rules:
    - *if-release
  script:
    - echo "Creating release for $CI_COMMIT_TAG"
  release:
    name: "$CI_COMMIT_TAG"
    tag_name: "$CI_COMMIT_TAG"
    description: "For Assembler and Frontend libraries use Maven Central repositories."
    ref: "$CI_COMMIT_SHA"
    assets:
      links:
        - name: "jbpl-assembler-cli.jar"
          url: "$CI_PROJECT_URL/-/jobs/$CI_JOB_ID/artifacts/raw/jbpl-assembler-cli/build/libs/jbpl-assembler-cli-${CI_COMMIT_TAG}.jar"
        - name: "jbpl-assembler-cli-slim.jar"
          url: "$CI_PROJECT_URL/-/jobs/$CI_JOB_ID/artifacts/raw/jbpl-assembler-cli/build/libs/jbpl-assembler-cli-${CI_COMMIT_TAG}-slim.jar"
        - name: "jbpl-intellij-plugin.zip"
          url: "$CI_PROJECT_URL/-/jobs/$CI_JOB_ID/artifacts/raw/jbpl-intellij-plugin/build/distributions/jbpl-intellij-plugin-${CI_COMMIT_TAG}.zip"